*:focus {
    outline: none!important;
}

body {
    margin: 0;
}

.contenedor-principal {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: #F6FAFE;
    overflow: hidden;
}

/* estilos del encabezado */
.contenedor-encabezado {
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: #193B52;
    display: flex;
}

.contenedor-encabezado .contenedor-logotipo {
    width: 304px;
    min-width: 304px;
    height: 100%;
    margin: 0;
    padding: 0 0 0 24px;
    border: 0;
    border-radius: 0;
    background: transparent;
    display: flex;
    align-items: center;
}

.contenedor-encabezado .contenedor-logotipo img {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
}

.contenedor-encabezado .contenedor-menu {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-principal .contenedor-menu .boton-opcion {
    width: auto;
    height: 45px;
    margin: 0;
    padding: 0 15px;
    border: 1px solid transparent;
    border-radius: 10px;
    background: transparent;
    display: flex;
    align-items: center;
}

.contenedor-principal .contenedor-menu .boton-opcion:hover {
    border: 1px solid #FFFFFF;
    cursor: pointer;
}

.contenedor-principal .contenedor-menu .boton-opcion.boton-activo {
    background-color: #FFFFFF;
}

.contenedor-principal .contenedor-menu .boton-opcion img {
    width: auto;
    height: auto;
    margin: 0 10px 0 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    pointer-events: none;
}

.contenedor-principal .contenedor-menu .boton-opcion span {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #FFFFFF;
    pointer-events: none;
}

.contenedor-principal .contenedor-menu .boton-opcion.boton-activo span {
    color: #FF9000;
}

.contenedor-principal .contenedor-menu .boton-opcion > :nth-child(2) {
    display: none;
}

.contenedor-principal .contenedor-menu .boton-opcion.boton-activo > :nth-child(1) {
    display: none;
}

.contenedor-principal .contenedor-menu .boton-opcion.boton-activo > :nth-child(2) {
    display: block;
}

.contenedor-encabezado .contenedor-menu > :nth-child(2) {
    margin: 0 15px;
}


.contenedor-encabezado .contenedor-opciones-usuario {
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0 22px 0 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-encabezado .contenedor-opciones-usuario .contenedor-notificaciones {
    width: auto;
    height: 100%;
    margin: 0 22px 0 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.contenedor-encabezado .contenedor-opciones-usuario .contenedor-notificaciones .boton-notificaciones {
    width: 30px;
    min-width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
}

.contenedor-encabezado .contenedor-opciones-usuario .contenedor-notificaciones .boton-notificaciones img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
}

.contenedor-encabezado .contenedor-opciones-usuario .contenedor-notificaciones .numero {
    width: 18px;
    height: 18px;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background-color: #FF0000;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: -5px;
    pointer-events: none;
}

.contenedor-encabezado .contenedor-opciones-usuario .contenedor-notificaciones .notificaciones {
    width: 390px;
    height: 0px;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 5px;
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    overflow: hidden;
    position: absolute;
    top: 60px;
    right: 0;
    transition: all 0.3s;
}

.contenedor-encabezado .contenedor-opciones-usuario .contenedor-notificaciones .notificaciones .boton-opcion {
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 0 12px;
    border: 0;
    border-radius: 0;
    background: transparent;
    display: flex;
    align-items: center;
}

.contenedor-encabezado .contenedor-opciones-usuario .contenedor-notificaciones .notificaciones .boton-opcion:hover {
    background-color: #F6FAFE;
    cursor: pointer;
}

.contenedor-encabezado .contenedor-opciones-usuario .contenedor-notificaciones .notificaciones .boton-opcion img {
    width: auto;
    height: auto;
    margin: 0 10px 0 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    pointer-events: none;
}

.contenedor-encabezado .contenedor-opciones-usuario .contenedor-notificaciones .notificaciones .boton-opcion span {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #707070;
    pointer-events: none;
}

.contenedor-encabezado .contenedor-opciones-usuario .contenedor-usuario {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
}

.contenedor-encabezado .contenedor-opciones-usuario .contenedor-usuario .boton-usuario {
    width: 232px;
    height: 40px;
    margin: 0;
    padding: 0 22px;
    border: 0;
    border-radius: 22px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}

.contenedor-encabezado .contenedor-opciones-usuario .contenedor-usuario .boton-usuario .icono-usuario{
    width: 30px;
    min-width: 30px;
    height: 30px;
    margin: 0 20px 0 0;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.contenedor-encabezado .contenedor-opciones-usuario .contenedor-usuario .boton-usuario .nombre-usuario {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #332121;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    pointer-events: none;
}

.contenedor-encabezado .contenedor-opciones-usuario .contenedor-usuario .boton-usuario .icono {
    width: 12px;
    height: 7px;
    margin: 0 0 0 auto;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    pointer-events: none;
}





/* estilos del contenido */
.contenedor-contenido {
    width: calc(100vw - 44px);
    height: calc(100vh - 118px);
    margin: 22px auto 0 auto;
    padding: 0;
    border: 0;
    border-radius: 30px;
    background-color: #FFFFFF;
    overflow: hidden;
    overflow-y: auto;
}

.contenedor-boton {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0 ;
    border: 0;
    border-radius: 0;
    background: transparent;
    display: flex;
}

.contenedor-boton .boton-principal {
    position: absolute;
    top: 24px;
    right: 31px;
}

.contenedor-imagen {
    width: auto;
    height: auto;
    margin: 40px 0 0 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    display: flex;
    justify-content: center;
}

.contenedor-imagen img {
    width: 197px;
    height: 197px;
    margin: 0;
    padding: 0 ;
    border: 0;
    border-radius: 50%;
    background-color: #EFF2F8;
}

.contenedor-titulo {
    width: 100%;
    height: auto;
    margin: 30px 0 0 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
}

.contenedor-titulo h2 {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #193B52;
    text-align: center;
}

.contenedor-titulo .titulo-seccion {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    display: flex;
}

.contenedor-titulo .titulo-seccion .icono {
    width: 66px;
    min-width: 66px;
    height: 66px;
    margin: 0 22px 0 0;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-titulo .titulo-seccion .icono img {
    width: 35px;
    height: 25px;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
}

.contenedor-titulo .titulo-seccion .titulo {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: o;
    background: transparent;
}

.contenedor-titulo .titulo-seccion .titulo h2 {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: o;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #193B52;
    text-align: left;
}

.contenedor-titulo .titulo-seccion .titulo p {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: o;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    color: #193B52;
    text-align: left;
}

.contenedor-parrafo {
    width: 100%;
    height: auto;
    margin: 30px 0 0 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
}

.contenedor-parrafo p {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    color: #193B52;
    text-align: center;
}

.contenedor-opcione-check {
    margin-top: 60px;
}

.contenedor-actividades {
    margin-top: 60px;
}

.contenedor-actividad {
    width: 100%;
    height: 245px;
    margin: 0 0 30px 0;
    padding: 0;
    border: 1px solid #CFD0E3;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.contenedor-actividad:hover {
    border: 1px solid #FF9000;
    cursor: pointer;
    box-shadow: 0px 3px 6px #00000029;
}

.contenedor-actividad .encabezado-actividad {
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 0 20px;
    border: 0;
    border-radius: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenedor-actividad .encabezado-actividad .icono {
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenedor-actividad .encabezado-actividad .icono img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
}

.contenedor-actividad .encabezado-actividad .tema {
    width: auto;
    height: 20px;
    margin: 0;
    padding: 0 10px;
    border: 0;
    border-radius: 10px;
    background-color: #FFE8C9;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #FF9000;
    display: flex;
    align-items: center;
}

.contenedor-actividad .descripcion-actividad {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0 20px;
    border: 0;
    border-radius: 0;
    background: transparent;
}

.contenedor-actividad .descripcion-actividad h3 {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #193B52;
    text-align: left;
}

.contenedor-actividad .descripcion-actividad p {
    width: auto;
    height: 100px;
    margin: 15px 0 0 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #707070;
    text-align: left;
    overflow: hidden;
    overflow-y: auto;
}

.contenedor-actividad .precio-actividad {
    width: 100%;
    height: 65px;
    margin: 0;
    padding: 20px;
    border: 0;
    border-radius: 0;
    background: transparent;
    display: flex;
}

.contenedor-actividad .precio-actividad .precio {
    width: auto;
    height: 30px;
    margin: 0 0 0 auto;
    padding: 0 10px;
    border: 0;
    border-radius: 15px;
    background-color: #D7FCD7;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    color: #2BDD29;
    display: flex;
    align-items: center;
}



/* estilos del footer */
.contenedor-footer {
    width: 100%;
    height: 36px;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}


.contenedor-footer p {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #193B52;
}

.contenedor-footer p a {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #193B52;
}

.contenedor-footer p a:hover {
    color: #FF8028;
}

.contenedor-footer .by {
    width: 24px;
    height: 24px;
    margin: 0 10px 0 40px;
    padding: 0;
    border: 1px solid #FF8028;
    border-radius: 50%;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #FF8028;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-footer > a {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #FF8028;
}

.contenedor-footer a:hover {
    text-decoration: none;
}

/* estilos generales de los botones */
.boton-principal {
    width: auto;
    height: 45px;
    margin: 0;
    padding: 0 24px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #FF9000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton-principal span {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #FFFFFF;
}


.boton-principal img {
    width: auto;
    height: auto;
    margin: 0 0 0 10px;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
}

.boton-principal > :nth-child(3) {
    display: none;
}

.boton-principal:hover{
    border: 1px solid #FF9000;
    background-color: #FFFFFF;
}

.boton-principal:hover span {
    color: #FF9000;
}

.boton-principal:hover > :nth-child(2) {
    display: none;
}

.boton-principal:hover > :nth-child(3) {
    display: block;
}


.boton-opcion-check {
    width: 100%;
    height: 45px;
    margin: 0 0 30px 0;
    padding: 0 15px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #EFF2F8;
    display: flex;
    align-items: center;
}

.boton-opcion-check span {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #193B52;
}

.boton-opcion-check .circulo {
    width: 23px;
    height: 23px;
    margin: 0 0 0 auto;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.boton-opcion-check .icono {
    width: 12px;
    height: 12px;
    margin: 0 0 0 auto;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background: transparent;
    display: none;
}

.boton-opcion-check:hover {
    box-shadow: 0px 3px 6px #00000029;
}

.boton-opcion-check.boton-activo {
    background-color: #FF9000;
    box-shadow: 0px 3px 6px #00000029;
}

.boton-opcion-check.boton-activo span {
    color: #FFFFFF;
}

.boton-opcion-check.boton-activo .circulo {
    display: none;
}

.boton-opcion-check.boton-activo .icono {
    display: block;
}